{% extends 'base1.html' %}
{% block content %}
    <section class="home">
        <img src="{{ url_for('static', filename='images/website_pic/header/africa-drum.jpg') }}" class="picture-slide active">
        <img src="{{ url_for('static', filename='images/website_pic/header/guiter.jpg') }}" class="picture-slide">
        <img src="{{ url_for('static', filename='images/website_pic/header/piano.jpg') }}" class="picture-slide">
        <img src="{{ url_for('static', filename='images/website_pic/header/trumpet.jpg') }}" class="picture-slide">
        <img src="{{ url_for('static', filename='images/website_pic/header/band.jpg') }}" class="picture-slide">
        
        <div class="content">
            <h1>Find The <br />Best Equipment</h1>
            <p>Your premier destination for your music equipment rentals. Rent out and also rent others' instruments. Embrace the rhythm of sharing and let your creativity soar with Quality Equipment.<br /> <span>Get ready to make music magic. Welcome aboard!</span></p>
            <a href="{{ url_for('register') }}">Get Started Today</a>
        </div>
        <div class="slider-navigation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>
    <section class="section-container">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="container-box">
                <div class="content-about">
                    <div class="article">
                        <h3>At Instrulend, we understand the challenges that artists and DJs face when pursuing their passion. The cost of high-quality equipment can be a barrier for many, preventing them from fully engaging in their craft.</h3>
                        <p>We believe that everyone should have the opportunity to express themselves creatively, regardless of financial constraints. That's why we created Instrulend - a peer-to-peer rental platform designed to empower musicians and performers of all levels.</p>
                        <div class="button">
                            <a href="{{ url_for('about') }}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image-section">
                    <img src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}" alt="about">
                </div>
            </div>
            
        </div>
    </section>
    <section class="section-container">
        <h2 class="section_header">Latest Equipment For Your Melody</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
                {% for post in posts %}
                    <div class="swiper-slide">
                        <div class="popular_grid">
                            <div class="popular_card">
                                <img src="{{ url_for('static', filename='images/post_pic/' + post.image_file) }}" alt="popular">
                                <p>{{ post.title }}</p>
                                <h4>{{ post.author.first_name }} {{ post.author.last_name }}</h4>
                                <div class="price">Daily start from:<span>{{ post.price }}</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section-container register_container">
        <div class="register_grid">
            <div class="register_content">
                <h4>Register to start Renting</h4>
                <div class="register_btn">
                    <button class="btn"><a href="{{ url_for('register') }}">Get Started Now</a></button>
                </div>
            </div>
            <div class="register_image">
                <img src="{{ url_for('static', filename='images/website_pic/music.png') }}" alt="register">
            </div>
        </div>
    </section>
    <section class="section-container">
        <h2 class="section_header">What Others Say</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
                <div class="swiper-slide">
                    <div class="client_card">
                        <p>
                            MelodyRental.com offers a diverse selection of top-quality musical instruments for hassle-free rental experiences. With transparent policies and responsive customer support, it's the go-to destination for musicians seeking reliable instrument rentals.
                        </p>
                        <div class="client_footer">
                            <div>
                                <h4>Name of customer</h4>
                                <h5>city, Country</h5>
                            </div>
                            <span><i class="ri-double-quotes-r"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}