{% extends "base.html" %}
{% block content %}
  <div class="posts-display">
    {% for post in posts %}
      <div class="card card-container">
        <div class="card-body">
          <img src="{{ url_for('static', filename='images/post_pic/' + post.image_file) }}" alt="post_image" class="post-img">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pic/' + post.author.image_file) }}" alt="">
          <h3 class="card-title">{{ post.title }} category {{ post.category }}</h3>
          <p card-text><b>{{ post.author.first_name }} {{ post.author.last_name }}</b> on {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
          <p card-text>{{ post.description }}</p>
          <p card-text>Price: ₦{{ post.price }} at {{ post.city }}, {{ post.country }}</p>
          <a href="#" class="btn btn-primary">Rent</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}