{% extends 'base.html' %}
{% block content %}
<div class="chat-section">
    <div class="chat-container">
        <div class="chat-content">
            <div class="content-sidebar">
                <div class="content-sidebar-title">My messages</div>
                <form action="" class="content-sidebar-form">
                    <input type="search" class="content-sidebar-input" placeholder="Search...">
                    <button class="content-sidebar-submit"><i class="ri-search-line"></i></button>
                </form>
                <div class="content-messages">
                    <ul class="content-messages-list">
                        <li class="content-message-title"><span>Recently</span></li>
                        <li class="active">
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-unread">5</span>
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-unread">5</span>
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-unread">5</span>
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-unread">5</span>
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-unread">5</span>
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-unread">5</span>
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="content-message-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                                <span class="content-message-info">
                                    <span class="content-message-name">Asogwa Kingsantus</span>
                                    <span class="content-message-text">I will be coming to pic the rest of my properties tomorrow.</span>
                                </span>
                                <span class="content-message-more">
                                    <span class="content-message-time">12:30</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="conversation">
                <div class="conversation-top">
                    <button type="button" class="conversation-back"><i class="ri-arrow-left-line"></i></button>
                    <div class="conversation-user">
                        <img class="conversation-user-image" src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}">
                        <div>
                            <div class="conversation-user-name">Asogwa Kingsantus</div>
                        </div>
                    </div>
                    <div class="conversation-buttons">
                        <button type="button"><i class="ri-phone-fill"></i></button>
                        <button type="button"><i class="ri-vidicon-line"></i></button>
                        <button type="button"><i class="ri-information-line"></i></button>
                    </div>
                </div>
                <div class="conversation-main">
                    <ul class="conversation-wrapper">
                        <div class="conversation-divider"><span>Today</span></div>
                        <li class="conversation-item me">
                            <div class="conversation-item-side">
                                <img src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}" class="conversation-item-image">
                            </div>
                            <div class="conversation-item-content">
                                <div class="conversation-item-wrapper">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>Good Morning, I want to rent your piano, is it still available</p>
                                            <span class="conversation-item-time">11:20</span>
                                        </div>
                                        <div class="conversation-item-dropdown">
                                            <button type="button" class="conversation-item-dropdown-toggle"><i class="ri-more-2-line"></i></button>
                                            <ul class="conversation-item-dropdown-list">
                                                <li><a href="#"><i class="ri-share-forward-line"></i>Forward</a></li>
                                                <li><a href="#"><i class="ri-delete-bin-line"></i>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item-wrapper">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>So I have a gig at Abakpa, I will like to get an agreement with you</p>
                                            <span class="conversation-item-time">11:23</span>
                                        </div>
                                        <div class="conversation-item-dropdown">
                                            <button type="button" class="conversation-item-dropdown-toggle"><i class="ri-more-2-line"></i></button>
                                            <ul class="conversation-item-dropdown-list">
                                                <li><a href="#"><i class="ri-share-forward-line"></i>Forward</a></li>
                                                <li><a href="#"><i class="ri-delete-bin-line"></i>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="conversation-item">
                            <div class="conversation-item-side">
                                <img src="{{ url_for('static', filename='images/website_pic/about/about.jpg') }}" class="conversation-item-image">
                            </div>
                            <div class="conversation-item-content">
                                <div class="conversation-item-wrapper">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>Good Morning, I want to rent your piano, is it still available</p>
                                            <span class="conversation-item-time">11:20</span>
                                        </div>
                                        <div class="conversation-item-dropdown">
                                            <button type="button" class="conversation-item-dropdown-toggle"><i class="ri-more-2-line"></i></button>
                                            <ul class="conversation-item-dropdown-list">
                                                <li><a href="#"><i class="ri-share-forward-line"></i>Forward</a></li>
                                                <li><a href="#"><i class="ri-delete-bin-line"></i>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item-wrapper">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>So I have a gig at Abakpa, I will like to get an agreement with you</p>
                                            <span class="conversation-item-time">11:23</span>
                                        </div>
                                        <div class="conversation-item-dropdown">
                                            <button type="button" class="conversation-item-dropdown-toggle"><i class="ri-more-2-line"></i></button>
                                            <ul class="conversation-item-dropdown-list">
                                                <li><a href="#"><i class="ri-share-forward-line"></i>Forward</a></li>
                                                <li><a href="#"><i class="ri-delete-bin-line"></i>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="conversation-form">
                    <button type="button" class="conversation-form-button conversation-form-emoji"><i class="ri-emotion-line"></i></button>
                    <div class="conversation-form-group">
                        <textarea name="text" id="input" rows="1" class="conversation-form-input" placeholder="Type here..."></textarea>
                        <button type="button" class="conversation-form-button conversation-form-record"><i class="ri-mic-line"></i></button>
                    </div>
                    <button type="button" class="conversation-form-button conversation-form-submit"><i class="ri-send-plane-2-line"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}