{% extends 'base.html' %}
{% block content %}
    <section class="section-form">
        <div class="form-container">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <h2>Join Us Today</h2>
                <fieldset class="input-box">
                    <div class="input-box">
                        {{ form.first_name.label(class='form-check-label') }}
                        {% if form.first_name.error %}
                            {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        {{ form.last_name.label(class='form-check-label') }}
                        {% if form.last_name.error %}
                            {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        {{ form.email.label(class='form-check-label') }}
                        {% if form.email.error %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        {{ form.phone_number.label(class='form-check-label') }}
                        {% if form.phone_number.error %}
                            {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phone_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone_number(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        {{ form.password.label(class='form-check-label') }}
                        {% if form.password.error %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        {{ form.confirm_password.label(class='form-check-label') }}
                        {% if form.confirm_password.error %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="alert-form">
                    <p>By clicking Submit, You agree to our <a href="#">Terms, Privacy and Cookies Policy.</a></p>
                </div>
                <div class="input-box">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            <div class="border-top-form">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                </small>
            </div>
    </section>
{% endblock %}