{% extends "base.html" %}
{% block content %}
  <div class="container-home">
    <!--    main content  -->
    <div class="main-content">
        <h1 class="">Posts by {{ user.first_name }} {{ user.last_name }} <br>Total: {{ posts.total }}</h1>
      <div class="sort-by">
        <hr>
        <p>Sort by: <span>Latest</span></p>
      </div>
      {% for post in posts.items %}
        <div class="post-container">
          <div class="post-author">
            <img src="{{ url_for('static', filename='images/profile_pic/' + post.author.image_file) }}" alt="">
            <div>
              <h1><a href="{{ url_for('users.user_posts', user_id=post.author.id )}}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h1>
              <small>{{ post.city }}, {{ post.country }}</small>
              <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
          </div>
          <h1><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>  Price: {{ post.price }}<span>category: {{ post.category }}</span></h1>
          <p>{{ post.description }}</p>
          <img src="{{ url_for('static', filename='images/post_pic/' + post.image_file) }}" width="100%">
          <div class="post-stats">
            <div>
              <span class="Reviewed">{{ post_review_counts.get(post.id, 0) }} Reviewed &middot;</span>
            </div>
          </div>
          <div class="post-activity">
            {% if current_user.id != post.author.id %}
              <div><a href="{{ url_for('messages.create_chat',  author_id=post.author.id) }}" id="chat-link-creator">Connect</a></div>
              <div><a href="{{ url_for('reviews.review', author_id=post.author.id) }}">Review</a></div>
            {% else %}
              <div><a href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a></div>
              <div><a href="#">Delete</a></div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn-page_nume" href="{{ url_for('users.user_posts', user_id=user.id, page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn-page_num" href="{{ url_for('users.user_posts', user_id=user.id, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
        <!-- review bar -->
        <div class="review-menu-wrap">
          {% for post in posts %}
          {% set author_id = post.author.id %}
          {% for review in reviews %}
          {% if review.author_id == author_id %}
          <div class="review-message">
            <div class="review-info">
              <img src="{{ url_for('static', filename='images/profile_pic/' + review.author1.image_file) }}">
              <div>
                <h3>{{ review.author1.first_name }} {{ review.author1.last_name }}</h3>
                <p>{{ review.content }}</p>
                <p class="rating-review">{{ review.star_rating }}</p>
                <div class="stars"></div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </div>
    </div>
    <!--  right side bar -->
    <div class="right-sidebar">
      <h3><a href="{{ url_for('messages.chats') }}">Messages</a></h3>
      <div class="sidebar-activity">
        <h3>Recent By State</h3>
        <a href="#"><i class="ri-refresh-line"></i>Abia</a>
        <a href="#"><i class="ri-refresh-line"></i>Adamawa</a>
        <a href="#"><i class="ri-refresh-line"></i>Akwa Ibom</a>
        <a href="#"><i class="ri-refresh-line"></i>Anambra</a>
        <a href="#"><i class="ri-refresh-line"></i>Bauchi</a>
        <a href="#"><i class="ri-refresh-line"></i>Bayelsa</a>
        <a href="#"><i class="ri-refresh-line"></i>Benue</a>
        <a href="#"><i class="ri-refresh-line"></i>Borno</a>
        <a href="#"><i class="ri-refresh-line"></i>Cross River</a>
        <a href="#"><i class="ri-refresh-line"></i>Delta</a>
        <a href="#"><i class="ri-refresh-line"></i>Ebonyi</a>
        <a href="#"><i class="ri-refresh-line"></i>Ekiti</a>
        <a href="#"><i class="ri-refresh-line"></i>Enugu</a>
        <a href="#"><i class="ri-refresh-line"></i>FCT</a>
        <a href="#"><i class="ri-refresh-line"></i>Gombe</a>
        <a href="#"><i class="ri-refresh-line"></i>Imo</a>
        <a href="#"><i class="ri-refresh-line"></i>Jigawa</a>
        <a href="#"><i class="ri-refresh-line"></i>Kaduna</a>
        <a href="#"><i class="ri-refresh-line"></i>Kano</a>
        <a href="#"><i class="ri-refresh-line"></i>Kastina</a>
        <a href="#"><i class="ri-refresh-line"></i>Kebbi</a>
        <a href="#"><i class="ri-refresh-line"></i>Kogi</a>
        <a href="#"><i class="ri-refresh-line"></i>Kwara</a>
        <a href="#"><i class="ri-refresh-line"></i>Lagos</a>
        <a href="#"><i class="ri-refresh-line"></i>Nasarawa</a>
        <a href="#"><i class="ri-refresh-line"></i>Niger</a>
        <a href="#"><i class="ri-refresh-line"></i>Ogun</a>
        <a href="#"><i class="ri-refresh-line"></i>Ondo</a>
        <a href="#"><i class="ri-refresh-line"></i>Osun</a>
        <a href="#"><i class="ri-refresh-line"></i>Oyo</a>
        <a href="#"><i class="ri-refresh-line"></i>Plateau</a>
        <a href="#"><i class="ri-refresh-line"></i>Rivers</a>
        <a href="#"><i class="ri-refresh-line"></i>Sokoto</a>
        <a href="#"><i class="ri-refresh-line"></i>Taraba</a>
        <a href="#"><i class="ri-refresh-line"></i>Yobe</a>
        <a href="#"><i class="ri-refresh-line"></i>Zamfara</a>
      </div>
      <div class="review-us">
        <a href="{{ url_for('reviews.expirence') }}">Tell Us your Expirence so far</a>
      </div>
    </div>
  </div>
{% endblock %}